#footer{
    margin-top: 100px;
    margin-left: 760px;
    .icons{
        font-size: 20px;
        
        i{
            color: purple;
            font-size: 30px;
            margin-left: 10px;
            
        }
        i:hover{
          color: black;
          transition: 0.3s;
        }
    }
    .ending{
        font-size: 20px;
        margin-top: 30px;
    }
    
}