#welcome{
    
    .heading{
       
        
        margin-left: 400px;
        
      
    }
    .box{
        position: relative;
     
        img{
            margin-left: 390px;
            width: 60%;
           height: 80vh;
        }
    }
}