#drinking{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-direction: column;
    img{
        width: 350px;
    }
    .left{
        width: 300px;
        height: 410px;
      
        background-color: rgb(237, 227, 227);
        h4{
            margin-left: 50px;
            margin-top: 20px;
        }
        p{
            margin-left: 120px;
            
        }
    }
    .between{
        width: 300px;
        height: 410px;
        background-color: rgb(237, 227, 227);
        h4{
            margin-left: 50px;
            margin-top: 20px;
        }
        p{
            margin-left: 120px;
            
        }
    }
    .right{
        width: 300px;
        height: 410px;
        
        background-color: rgb(237, 227, 227);

        h4{
            margin-left: 50px;
            margin-top: 20px;
        }
        p{
            margin-left: 120px;
            
        }
    }
    .title{
        
        text-align: center;
        margin-top: 20px;
        h2{
            font-size: 30px;
        }
        p{
            font-size: 18px;
            margin-top: 20px;
        }
        button{
            margin-top: 20px;
            border-style: none;
            color: purple;
        }
        button:hover{
         color: black;
        }
    }
    .products{
        margin-top: 50px;
        display: flex;
        gap: 40px;
        align-items: center;
        margin-left: 400px;
    }
   
}